@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
.bgHeader {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 220.333px;
  /* line-height: 425px; */
  /* identical to box height */
  /* position: absolute;
  bottom: 20rem; */
  /* letter-spacing: -0.02em; */

  /* Gray */
  /* display: inline-block; */
  color: #393e46;

  mix-blend-mode: screen;
  opacity: 0.5;
}


.mainHeading {
  font-size: 64px;
  position: relative;
  bottom: 3rem;
  /* display: inline-block; */
}
.heroImg {
  float: right;
  width: 45rem;
  position: absolute;
  top: 60px;
  right: 4rem;
}
.surname {
  background: linear-gradient(90deg, #8b5cf6 0%, #ec4899 43.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 8rem;
}
.space {
  display: none;
}
.line {
  width: 30rem;
  position: relative;
}
.gradientTop {
  position: absolute;
  left: -400px;
  top: -450px;
  z-index: 1;
}
.pinkRing {
  animation: mover2 1s infinite alternate;
  width: 4rem;
  position: absolute;
  right: 20rem;
  top: 12rem;
}
.gradientBottom {
  position: absolute;
  right: 0;
  top: 15rem;
}
.social {
  position: absolute;
  right: 1px;
  top: 9rem;
}
.socialHeading {
  font-size: 24px;
  transform: rotate(90deg);

  line-height: 36px;
  font-family: "Poppins";
  font-weight: 400;
  margin-bottom: 6rem;
}
.socialLogo {
  width: 2rem;
  display: block;
  margin-top: 1rem;
  position: relative;
  top: 6rem;
  left: 2.8rem;
  z-index: 3;
}
.socialLogo:hover {
  cursor: pointer;
  scale: 1.5;
}
.socialLine {
  width: 100px;
  height: 0px;
  position: relative;
  top: 1.2rem;
  /* Main */

  border: 2px solid #ec4899;
  background-color: #ec4899;
  border-radius: 12px;
  transform: rotate(90deg);
}
.yellowRing {
  position: absolute;
  right: 0px;
  top: 42rem;
}
.bluePill {
  position: absolute;
  left: 0px;
  top: 44rem;
}
.orangeCube {
  animation: mover2 1s infinite alternate;
  width: 3rem;
  position: absolute;
  right: 40rem;
  top: 35rem;
}
.whiteSphere {
  animation: mover2 1s infinite alternate;
  width: 2rem;
  position: absolute;
  right: 12rem;
  top: 35rem;
}

/* ------------------Animations------------------------ */

/* @keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
} */
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover2 {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (min-width: 768px) and (max-width:1300px){

  .heroImg {
    display:none;
  }
   .orangeCube {
    display: none;
  }
  .whiteSphere {
    display: none;
  }
  .pinkRing {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  /* .gradientBottom {
    display: none;
  }
  .gradientTop {
    display: none;
  } */
   .gradientTop {
  position: absolute;
  left: -100px;
  top: -110px;
  /* z-index:1; */
}
.gradientBottom {
  position: absolute;
  right: -10px;
  top: 15rem;
}
  .socialLine {
    display: none;
  }
  .yellowRing {
    /* width: 7rem;
    top: 38rem; */
     display: none;
  }
  .bluePill {
    display: none;
  }
  .orangeCube {
    display: none;
  }
  .whiteSphere {
    display: none;
  }
  .pinkRing {
    display: none;
  }
  .socialLogo {
    display: none;
  }
  .socialHeading {
    display: none;
  }
  .bgHeader {
    display: none;
  }
  .line {
    display: none;
  }
  .heroImg {
    width: 25rem;
    position: absolute;
    left: 0.1rem;
  }
  .mainHeading {
    font-size: 64px;
    position: relative;
    top: 20rem;
    left: 1rem;
    display: inline-block;
  }
  .info {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 6rem;
  }
}
