@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.navElement {
  margin: 1rem;
  font-family: "Raleway", sans-serif;
}
.navElement:hover {
  color: lightgray;
  font-size: 20px;
}

.headerContainer {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}
.navMain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}
.navMid {
  background-color: #fff;
  border-radius: 12px;
  color: black;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
 
  z-index: 3;
}

.downloadBtn {
  background-color: #fff;
  width: 8rem;
  height: 3rem;
  border-radius: 12px;
  color: black;
  font-family: "Raleway", sans-serif;
  z-index: 3;
}
.downloadBtn:hover {
  background-color: lightgray;
  cursor: pointer;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .headerLogo {
    font-size: 15px;
  }
  .navMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navMid {
    width: 50vw;

  
  }
  .navElement {
    margin: 0.5vw;
    font-size: 0.8rem;
    padding: 1px;
    font-family: "Raleway", sans-serif;
  }
  .navElement:hover {
    color: lightgray;
    font-size: 20px;
  }
  .downloadBtn {
    background-color: #fff;
    width: 16vw;
    height: 5vh;
    border-radius: 8px;
    color: black;
    font-size: 0.5rem;
    font-family: "Raleway", sans-serif;
    z-index: 5;
  }
  .downloadBtn:hover {
    cursor: pointer;
  }
  .download {
    z-index: 5;
  }
  .headerContainer {
    display: flex;
    font-family: "Raleway", sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
  }
}
