@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.navElement {
  margin: 1rem;
  font-family: "Raleway", sans-serif;
}
.navElement:hover {
  color: lightgray;
  font-size: 20px;
}

.headerContainer {
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
}
.navMid {
  background-color: #fff;
  border-radius: 12px;
  color: black;
  padding-right: 2rem;
  z-index: 3;
}

.downloadBtn {
  background-color: #fff;
  width: 8rem;
  height: 3rem;
  border-radius: 12px;
  color: black;
  font-family: "Raleway", sans-serif;
  z-index: 3;
}
.downloadBtn:hover {
  background-color: lightgray;
  cursor: pointer;
  font-size: 16px;
}
