@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

.mainElement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
}
.element {
  border-image: linear-gradient(#8b5cf6, #ec4899) 30;
  border-width: 4px;
  border-style: solid;
  padding: 2rem;
  margin: 1rem;
  margin-bottom: 4rem;
}
.element:hover {
  border-image: linear-gradient(#ec4899, #8b5cf6) 30;
  color: #ec4899;
}
.heading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 8rem;
  font-size: 40px;
  font-family: "Poppins";
}
.bgHeading {
  font-size: 100px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 800;
  color: #393e46;
  position: absolute;
  left: 40rem;
  top: 78.8rem;
  line-height: 150px;
  mix-blend-mode: screen;
  opacity: 0.5;
}
.subHeading {
  text-align: center;
  font-size: 16px;
  font-family: "Poppins";
}

.number {
  width: 10rem;
  font-weight: 600px;
  font-size: 30px;
  color: #fff;
  position: relative;
  top: 4rem;
  left: 11.5rem;
}
.circleNinty {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: ninty 2s linear forwards;
  margin-bottom: 4rem;
}
.circleSixtyFive {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: sixtyFive 2s linear forwards;
  margin-bottom: 4rem;
}
.circleFifty {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: fifty 2s linear forwards;
  margin-bottom: 4rem;
}
.circleTwenty {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: twenty 2s linear forwards;
  margin-bottom: 4rem;
}

.skillPercent {
  font-weight: 600px;
  font-size: 30px;
  color: #fff;
  position: relative;
  top: 7.5rem;
  left: 3.5rem;
}

.icons {
  width: 6rem;
  height: 6rem;
  position: relative;
  left: 2rem;
}
@keyframes ninty {
  100% {
    stroke-dashoffset: 90;
  }
}
@keyframes sixtyFive {
  100% {
    stroke-dashoffset: 165;
  }
}
@keyframes fifty {
  100% {
    stroke-dashoffset: 250;
  }
}
@keyframes twenty {
  100% {
    stroke-dashoffset: 400;
  }
}
