@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
.heading {
  font-family: "Poppins";
  font-size: 10rem;
  color: #ffff;
}
.heading2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 425px;
  /* identical to box height */
  position: absolute;
  bottom: 2rem;
  letter-spacing: -0.02em;

  /* Gray */
  display: inline-block;
  color: #393e46;

  mix-blend-mode: screen;
  opacity: 0.5;
}
.banner {
  width: 100%;
  height: 75vh;
}
